{% extends 'base.html' %}{% load static from static %} {% load widget_tweaks %} {% block content %}

    <section class="py-140">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header text-black">
                  <h2>Registration With Us</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                       <div class="col-lg-6">
                        <a type="button" class="btn btn-block" href="{% url 'accounts:customer_register' %}">I am a Vendor</a>
                       </div>
                       <div class="col-lg-6">
                        <a type="button" class="btn btn-block" href="{% url 'accounts:employee_register' %}">I am an Contractor</a>
                       </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  


{% endblock content %} 