{% extends 'base.html' %}{% load static from static %}  {% block content %}

        <!-- Begin Slider Area -->
        <div class="slider-area">

            <!-- Main Slider -->
            <div class="swiper-container main-slider swiper-arrow with-bg_white">
                <div class="swiper-wrapper">
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner bg-height" data-bg-image="{% static 'tycoonConstruction/assets/images/slider/bg/1-1.jpg' %}">
                            <div class="container">
                                <div class="slide-content">
                                    <span class="sub-title mb-1">Since 1995</span>
                                    <h2 class="title mb-3">We Construct <br> your <span>Dream</span></h2>
                                    <p class="short-desc-2 font-size-20 mb-7">Construction of itself, because it is pain, but because some proper style design occur in which toil and pain pleasure.</p>
                                    <div class="button-wrap">
                                        <a class="btn btn-custom btn-secondary btn-white-hover me-3" href="project.html">Learn
                                            more</a>
                                        <a class="btn btn-custom btn-primary btn-white-hover" href="contact.html">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner bg-height" data-bg-image="{% static 'tycoonConstruction/assets/images/slider/bg/1-2.jpg' %}">
                            <div class="container">
                                <div class="slide-content text-white">
                                    <span class="sub-title mb-1">Since 1995</span>
                                    <h2 class="title mb-3">We Construct <br> your <span>Dream</span></h2>
                                    <p class="short-desc-2 font-size-20 mb-7">Construction of itself, because it is pain, but because some proper style design occur in which toil and pain pleasure.</p>
                                    <div class="button-wrap">
                                        <a class="btn btn-custom btn-secondary btn-white-hover me-3" href="project.html">Learn
                                            more</a>
                                        <a class="btn btn-custom btn-primary btn-white-hover" href="contact.html">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination with-bg d-md-none"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>
        <!-- Slider Area End Here -->


        <!-- Begin Banner Area -->
        <div class="banner pt-140">
            <div class="container">
                <div class="row g-lg-9">
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-item text-white" data-bg-image="{% static 'tycoonConstruction/assets/images/banner/inner-bg/1-1.png' %}">
                            <div class="banner-content">
                                <h3 class="title mb-3">Top Rated</h3>
                                <p class="short-desc mb-0">Top rated construction packages we provide page editors now use Lorem as their default model text</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                        <div class="banner-item text-white" data-bg-image="{% static 'tycoonConstruction/assets/images/banner/inner-bg/1-2.png' %}">
                            <div class="banner-content">
                                <h3 class="title mb-3">Best Quality</h3>
                                <p class="short-desc mb-0">Quality is the construction packages we provide page editors now use Lorem as their default model text</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                        <div class="banner-item text-white" data-bg-image="{% static 'tycoonConstruction/assets/images/banner/inner-bg/1-3.png' %}">
                            <div class="banner-content">
                                <h3 class="title mb-3">Low Price</h3>
                                <p class="short-desc mb-0">Pricing is the construction packages we provide page editors now use Lorem as their default model text</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area End Here -->


        <!-- Begin About Area -->
        <div class="about-area about-style-2 py-130" id="about-us">
            <div class="container">
                <div class="section-title-area style-01 pb-70">
                    <div class="section-title-wrap">
                        <div class="section-title with-border text-lg-end">
                            <span id="about-us">ABOUT US</span>
                            <h2 class="mb-0">We Construct your needs</h2>
                        </div>
                        <div class="section-desc">
                            <p class="font-size-20 mb-0">Construction of itself, because it is pain, but <br> because some proper style design occur in toil and pain pleasure we have expert team</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-img-wrap">
                            <div class="about-pattern">
                                <img src="{% static 'tycoonConstruction/assets/images/about/pattern.png' %}" alt="Pattern">
                            </div>
                            <div class="about-img">
                                <img class="img-full" src="{% static 'tycoonConstruction/assets/images/about/1-1.jpg' %}" alt="About Banner">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="about-content">
                            <div class="experience style-2 text-primary">
                                <div class="experience-content">
                                    <span class="year">25</span>
                                    <h2 class="our-progress">Years of <span>Experience</span></h2>
                                </div>
                                <div class="experience-img">
                                    <img src="{% static 'tycoonConstruction/assets/images/about/avatar.png' %}" alt="Avatar">
                                </div>
                            </div>
                            <h3 class="sub-title mb-4">Provide the best Constructing services for our client with their satisfaction</h3>
                            <p class="short-desc mb-7">Construction of itself, because it is pain, but because some are proper style design occur in toil and pain pleasure we have a expert team some of the main features..
                            </p>
                            <ul class="list-item">
                                <li>
                                    <div class="list-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" style="color: #ff5e13; " fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                        </svg>
                                    </div>
                                    <div class="list-text">
                                        <span>Construction of itself, because it is pain, but because
                                    proper style design occur in toil and pain pleasure</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" style="color: #ff5e13; " fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                        </svg>
                                    </div>
                                    <div class="list-text">
                                        <span>Construction of itself, because it is pain, but because
                                    proper style design occur in toil and pain pleasure</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" style="color: #ff5e13; " class="bi bi-check-lg" viewBox="0 0 16 16">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                        </svg>
                                    </div>
                                    <div class="list-text">
                                        <span>Construction of itself, because it is pain, but because
                                    proper style design occur in toil and pain pleasure</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Area End Here -->

        
        <!-- Begin Banner Area -->
        <div class="banner-style-2 position-relative " data-bg-image="{% static 'tycoonConstruction/assets/images/banner/bg/2-1.png' %}">
            <div class="container-fluid p-0 overflow-hidden">
                <div class="row g-0">
                    <div class="col-lg-6">
                        <div class="banner-img">
                            <img src="{% static 'tycoonConstruction/assets/images/banner/medium-size/2-1-939x666.jpg' %}" alt="Banner">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="banner-with-sticker">
                            <div class="banner-content text-white">
                                <span>EXPLORE</span>
                                <h2 class="title mb-7">Full Project <br> management</h2>
                                <p class="desc font-size-20 mb-8">Construction of itself, because it is pain, but because some proper style design occur in toil and pain pleasure we have expert team some master plan fo the </p>
                                <div class="button-wrap">
                                    <a class="btn btn-custom btn-primary btn-white-hover" href="project.html">Learn more</a>
                                </div>
                            </div>
                            <div class="banner-sticker">
                                <img src="{% static 'tycoonConstruction\assets\images\logo\header_light_logo.png' %}" alt="Banner Sticker">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Banner Area End Here -->

        <!-- Begin Counter Area -->
        <div class="counter-area pt-140">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-item">
                            <h3 class="count mb-0" data-counterup-time="1500">985</h3>
                            <h2 class="count-inner-text mb-0">985</h2>
                            <h4 class="count-title mb-0">Projects</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-item">
                            <h3 class="count mb-0" data-counterup-time="2000">527</h3>
                            <h2 class="count-inner-text mb-0">527</h2>
                            <h4 class="count-title mb-0">Clients</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-item">
                            <h3 class="count mb-0" data-counterup-time="2500">856</h3>
                            <h2 class="count-inner-text mb-0">856</h2>
                            <h4 class="count-title mb-0">Success</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-item">
                            <h3 class="count mb-0" data-counterup-time="3000">120</h3>
                            <h2 class="count-inner-text mb-0">120</h2>
                            <h4 class="count-title mb-0">Awards</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Counter Area End Here -->


        
        <!-- Begin Banner Area -->
        <div class="banner banner-style-3 pt-140">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-item text-white banner-secondary-bg">
                            <div class="banner-content" data-count="01">
                                <h3 class="title mb-3">Our Mission</h3>
                                <p class="short-desc mb-0">Top rated construction packages we
                                    provide page editors now use Lorem as their default model text</p>
                                <div class="button-wrap pt-1">
                                    <a class="btn btn-link with-hover p-0" href="project.html">
                                        Read more
                                        <i class="ion-arrow-right-c"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                        <div class="banner-item text-white banner-primary-bg">
                            <div class="banner-content different-data-color" data-count="02">
                                <h3 class="title mb-3">Our Vision</h3>
                                <p class="short-desc mb-0">Top rated construction packages we
                                    provide page editors now use Lorem as their default model text</p>
                                <div class="button-wrap pt-1">
                                    <a class="btn btn-link p-0" href="project.html">
                                        Read more
                                        <i class="ion-arrow-right-c"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                        <div class="banner-item text-white banner-secondary-bg">
                            <div class="banner-content" data-count="03">
                                <h3 class="title mb-3">Our Values</h3>
                                <p class="short-desc mb-0">Top rated construction packages we
                                    provide page editors now use Lorem as their default model text</p>
                                <div class="button-wrap pt-1">
                                    <a class="btn btn-link with-hover p-0" href="project.html">
                                        Read more
                                        <i class="ion-arrow-right-c"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area End Here -->




        <!-- Begin Testimonial Area -->
        <div class="testimonial-area py-140">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 pb-6 pb-lg-0">
                        <div class="section-title-wrap-2">
                            <div class="section-title border-0">
                                <span>TESTIMONIALS</span>
                                <h2 class="mb-7">Reviews from happy client</h2>
                            </div>
                            <div class="section-desc pb-4">
                                <p class="font-size-20 mb-0">Construction of itself, because it is pain some <br> some proper style design occur in toil and pain we have expert team some master</p>
                            </div>
                            <div class="button-wrap pt-2 pb-5 pb-md-0">
                                <a class="btn btn-link with-underline text-secondary font-size-25 p-0" href="#">view more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="swiper-container testimonial-slider">
                            <div class="swiper-wrapper testimonial-flex-direction">
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-content">
                                            <p class="short-desc mb-3"><i class="quotation direction-left">“</i>Publishing packages and web page now use Lorem Ipsum as their mel text, and a search for lorem more than one articel a is very important which can be help us for building
                                                a beauiful construction design...<i class="quotation direction-right">”</i></p>
                                            <div class="user-info">
                                                <div class="user-img">
                                                    <img src="{% static 'tycoonConstruction/assets/images/testimonial/avatar/1-1-46x46.png' %}" alt="Avatar">
                                                </div>
                                                <div class="user-content">
                                                    <h5 class="user-name text-primary mb-0">Christoper Luis</h5>
                                                    <span class="user-occupation">CEO, Octafact Group</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-content">
                                            <p class="short-desc mb-3"><i class="quotation direction-left">“</i>Publishing packages and web page now use Lorem Ipsum as their mel text, and a search for lorem more than one articel a is very important which can be help us for building
                                                a beauiful construction design...<i class="quotation direction-right">”</i></p>
                                            <div class="user-info">
                                                <div class="user-img">
                                                    <img src="{% static 'tycoonConstruction/assets/images/testimonial/avatar/1-1-46x46.png' %}" alt="Avatar">
                                                </div>
                                                <div class="user-content">
                                                    <h5 class="user-name text-primary mb-0">Christoper Luis</h5>
                                                    <span class="user-occupation">CEO, Octafact Group</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-content">
                                            <p class="short-desc mb-3"><i class="quotation direction-left">“</i>Publishing packages and web page now use Lorem Ipsum as their mel text, and a search for lorem more than one articel a is very important which can be help us for building
                                                a beauiful construction design...<i class="quotation direction-right">”</i></p>
                                            <div class="user-info">
                                                <div class="user-img">
                                                    <img src="{% static 'tycoonConstruction/assets/images/testimonial/avatar/1-2-46x46.png' %}" alt="Avatar">
                                                </div>
                                                <div class="user-content">
                                                    <h5 class="user-name text-primary mb-0">Rehana Williams</h5>
                                                    <span class="user-occupation">CEO, Xerox LTd.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="testimonial-pagination d-md-none"></div>

                            <!-- Add Arrows -->
                            <div class="testimonial-button-next"></div>
                            <div class="testimonial-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial Area End Here -->


{% endblock content %}